@{
    ViewData["Title"] = "Доступ";
}
<div class="text-center">
    <h1 class="display-4">Доступ заборонений</h1>
    <a href="/Home/Index/">Aвторизація</a>
    <a href="/Home/Registration/">Реєстрація</a>
</div>
